<ng-container *ngIf="item$ | async as item; else loading">
	<form (ngSubmit)="us.update(feature, item, f)" #f="ngForm">
		<div class="container-fluid">
			<div class="row my-1">
				<div class="col">
					<div class="btn-toolbar">
						<div class="btn-group btn-group-xs ml-auto">
							<button type="submit" class="btn btn-outline-success" title="Save"><i class="fas fa-save fa-fw"></i></button>
							<button class="btn btn-outline-warning" type="button" (click)="startOver(item, f)" [disabled]="!item.fieldList || item.fieldList.length == 0" title="Start Over">
								<i class="fas fa-eraser fa-fw"></i>
							</button>
							<button class="btn btn-outline-dark" type="button" (click)="refreshFields(item)" [disabled]="item.fieldList && item.fieldList.length > 0" title="Refresh from Environment">
								<i class="fas fa-sync-alt fa-fw"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row my-1" *ngIf="!item.fieldList || item.fieldList.length == 0">
				<div class="col">
					<div class="jumbotron">
						<h1>No Fields Exist</h1>
						<hr class="my-4">
						<p>To get the list of fields please click to "<i class="fas fa-sync-alt fa-fw"></i> Refresh from Server" button on the toolbar above.</p>
					</div>
				</div>
			</div>
			<div class="row my-1" *ngIf="item.fieldList && item.fieldList.length > 0">
				<div class="col">
					<div class="table-responsive mt-3">
						<table class="table table-sm table-hover table-borderless">
							<thead>
								<tr>
									<th class="border-bottom border-warning m-0 p-0 text-center" width="1">Sort</th>
									<th width="24"></th>
									<th class="border-bottom border-warning m-0 p-0">Name</th>
									<th width="24"></th>
									<th class="border-bottom border-warning m-0 p-0">Type</th>
									<th width="24"></th>
									<th class="text-center border-bottom border-warning m-0 p-0" title="Is field described?"><i class="fas fa-comment-alt fa-fw"></i></th>
									<th width="24"></th>
									<th class="text-center border-bottom border-warning m-0 p-0" title="Is field a filter?"><i class="fas fa-filter fa-fw"></i></th>
									<th width="24"></th>
									<th class="text-center border-bottom border-warning m-0 p-0" title="Is field a crosstab?"><i class="fas fa-crosshairs fa-fw"></i></th>
									<th width="24"></th>
									<th class="text-center border-bottom border-warning m-0 p-0" title="Should we ignore for crosstab?"><i class="fas fa-crosshairs fa-fw"></i><i class="fas fa-ban" style="color:Tomato"></i></th>
									<th width="24"></th>
									<th class="text-center border-bottom border-warning m-0 p-0" title="Is this crosstab filter?"><i class="fas fa-crosshairs fa-fw"></i><i class="fas fa-filter fa-fw"></i></th>
									<th width="24"></th>
									<th class="text-center border-bottom border-warning m-0 p-0" title="Is this a data field?"><i class="fas fa-database fa-fw"></i></th>
									<th width="24"></th>
									<th class="text-center border-bottom border-warning m-0 p-0" title="Aggregation logic"><i class="fas fa-calculator fa-fw"></i></th>
									<th width="24"></th>
									<th class="text-center border-bottom border-warning m-0 p-0" title="Properties"><i class="fas fa-sliders-h fa-fw"></i></th>
								</tr>
							</thead>
							<tbody>
								<ng-container *ngFor="let field of item.fieldList; let i = index; let first = first; let last = last;">
									<tr>
										<td class="text-nowrap">
											<i class="fas fa-caret-square-up pointer mr-1" (click)="fieldMove(item, i, -1)"></i>
											<i class="fas fa-caret-square-down pointer" (click)="fieldMove(item, i, +1)"></i>
										</td>
										<td>&nbsp;</td>
										<td>{{field.name}}</td>
										<td>&nbsp;</td>
										<td>{{field.type}}</td>
										<td>&nbsp;</td>
										<td class="text-center"><input type="checkbox" name="{{field.name}}isDescri" [(ngModel)]="field.isDescribed"></td>
										<td>&nbsp;</td>
										<td class="text-center"><input type="checkbox" name="{{field.name}}isFilter" [(ngModel)]="field.isFilter"></td>
										<td>&nbsp;</td>
										<td class="text-center"><input type="checkbox" name="{{field.name}}isCrossT" [(ngModel)]="field.isCrossTab"></td>
										<td>&nbsp;</td>
										<td class="text-center"><input type="checkbox" name="{{field.name}}shouldIC" [(ngModel)]="field.shouldIgnoreCrossTab"></td>
										<td>&nbsp;</td>
										<td class="text-center"><input type="checkbox" name="{{field.name}}isCTFilt" [(ngModel)]="field.isCrossTabFilter"></td>
										<td>&nbsp;</td>
										<td class="text-center"><input type="checkbox" name="{{field.name}}isitData" [(ngModel)]="field.isData"></td>
										<td>&nbsp;</td>
										<td class="text-center" width="90">
											<select name="{{field.name}}aggFunction" *ngIf="field.isData" [(ngModel)]="field.aggregateFunction" class="form-control form-control-sm">
												<option value="">NONE</option>
												<option value="SUM">SUM</option>
												<option value="AVG">AVG</option>
												<option value="COUNT">COUNT</option>
												<option value="MAX">MAX</option>
												<option value="MIN">MIN</option>
											</select>
										</td>
										<td>&nbsp;</td>
										<td class="text-center text-nowrap">
											<div class="input-group input-group-sm" *ngIf="field.type=='number'">
												<div class="input-group-prepend">
													<span class="input-group-text"><b># of Digits:</b></span>
												</div>
												<input type="number" name="fPrecision{{i}}" class="form-control" placeholder="Whole Number Digits" [(ngModel)]="field.fPrecision" min="1" max="65">
												<div class="input-group-prepend">
													<span class="input-group-text">(Min:1, Max:65)</span>
												</div>
												<input type="number" name="fDecimals{{i}}" class="form-control" placeholder="Decimal Number of Digits" [(ngModel)]="field.fDecimals" min="0" max="{{field.fPrecision - 1 || 0}}">
												<div class="input-group-append">
													<span class="input-group-text">(Min:1, Max:{{field.fPrecision - 1 || 0}})</span>
												</div>
											</div>
											<div class="input-group input-group-sm" *ngIf="field.type=='string'">
												<div class="input-group-prepend">
													<span class="input-group-text"><b># of Characters:</b></span>
												</div>
												<input type="number" name="fCharacters{{i}}" class="form-control" placeholder="Number of characters" [(ngModel)]="field.fCharacters" min="1" max="1024">
												<div class="input-group-append">
													<span class="input-group-text">(Min:1, Max:1024)</span>
												</div>
											</div>
											<div class="input-group input-group-sm" *ngIf="field.type=='date'">
												<div class="input-group-prepend">
													<span class="input-group-text"><b>Format:</b></span>
												</div>
												<input type="text" name="fDateFormat{{i}}" class="form-control" placeholder="YYYY-MM-DD HH:mm" [(ngModel)]="field.fDateFormat">
											</div>
										</td>
									</tr>
								</ng-container>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</form>
</ng-container>
<ng-template #loading>
	<div class="alert alert-info mx-3" role="alert">
		<i class="fas fa-circle-notch fa-spin"></i> Please wait loading...
	</div>
</ng-template>
