<div class="container-fluid h-100">
	<div class="row h-100">
		<div class="col-6 col-md-8 bg-accent h-100 pt-md-5 pl-md-5 text-center text-md-left">
			<div class="d-none d-md-block spacer">&nbsp;</div>
			<span class="epmbrand text-center text-md-left pt-3 pt-md-0">
				<img src="/assets/images/AsliToolboxIcon.png" width="24" height="24" alt="Logo">
				<span class="pl-3 align-bottom">EPM ToolBox</span>
			</span>
			<hr>
			<span class="epmparts d-none d-md-block"><b>DIME:</b> Data Integration Made Easy</span>
			<span class="epmparts d-none d-md-block"><b>AsyncBR:</b> Asynchronous Business Rules</span>
		</div>
		<div class="col-6 col-md-4 bg-dark text-white h-100 pt-md-5 text-center text-md-left pl-md-5">
			<div class="d-none d-md-block spacer">&nbsp;</div>
			<span class="epmbrand pt-3 pt-md-0">&nbsp;</span>
			<hr class="invisiblehr">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
<!-- <hr> -->
<!-- <pre>{{ router$ | async | json }}</pre> -->
<!-- <hr> -->
<!-- <pre>{{ auth$ | async | json }}</pre> -->
<!-- <hr> -->
