<ng-container *ngIf="item$ | async as item; else loading">
	<form (ngSubmit)="us.update(feature, item, f)" #f="ngForm">
		<div class="container-fluid">
			<div class="form-group row my-3">
				<label class="col-6 col-form-label font-weight-bold">Stream Details: {{item.name}}</label>
				<div class="col-6 text-right">
					<div class="btn-group btn-group-xs">
						<button type="submit" class="btn btn-outline-success" title="Save"><i class="fas fa-save fa-fw"></i></button>
						<button type="button" class="btn btn-outline-dark" (click)="us.clone(feature, item)" title="Clone"><i class="far fa-clone fa-fw"></i></button>
						<button type="button" class="btn btn-outline-danger" (click)="us.delete(feature, item)" title="Delete"><i class="far fa-trash-alt fa-fw"></i></button>
					</div>
				</div>
			</div>
			<div class="form-group row my-1">
				<label for="cName" class="col-3 col-md-1 col-form-label font-weight-bold">Name:</label>
				<div class="col-9 col-md-11"><input type="text" name="cName" class="form-control form-control-sm" [(ngModel)]="item.name"></div>
			</div>
			<div class="form-group row my-1">
				<label for="cType" class="col-3 col-md-1 col-form-label font-weight-bold">Type:</label>
				<div class="col-9 col-md-11">
					<select name="cType" class="form-control form-control-sm" [(ngModel)]="item.type">
						<option value="0">Please select a type</option>
						<option [ngValue]="type.value" *ngFor="let type of types">{{ typeDescription(type.label) }}</option>
					</select>
				</div>
			</div>
			<div class="form-group row my-1">
				<label for="cEnvironment" class="col-3 col-md-1 col-form-label font-weight-bold">Environment:</label>
				<div class="col-9 col-md-11">
					<div class="input-group input-group-sm">
						<select name="cEnvironment" class="form-control form-control-sm" [(ngModel)]="item.environment" (change)="environmentChanged$.next(true)">
							<option [ngValue]="undefined">Please select an environment</option>
							<option [ngValue]="environment.id" *ngFor="let environment of environments$ | async">{{ environment.name }}</option>
						</select>
						<div class="input-group-append">
							<button class="btn btn-outline-secondary" type="button" routerLink="/admin/environments/{{item.environment}}" [disabled]="!item.environment" title="Go to environment details">
								<!-- <i class="fas fa-link fa-fw"></i> -->
								<i class="fas fa-chevron-right fa-fw"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<ng-container *ngIf="(environmentChanged$ | async)">
				<div class="form-group row my-1"><label class="col col-form-label font-weight-bold text-warning">Please save the stream. Environment selection has changed.</label></div>
			</ng-container>
			<ng-container *ngIf="item.environment && !(environmentChanged$ | async)">
				<div class="form-group row my-1">
					<label for="cDatabase" class="col-3 col-md-1 col-form-label font-weight-bold">
						<span *ngIf="item.type != streamTypes.HPDB">Database:</span>
						<span *ngIf="item.type == streamTypes.HPDB">Application:</span>
					</label>
					<div class="col-9 col-md-11" *ngIf="databases$ | async as databases">
						<div class="input-group input-group-sm">
							<select name="cDatabase" class="form-control form-control-sm" [(ngModel)]="item.dbName" (change)="databaseChanged$.next(true)" required [disabled]="databases.loadState == loadStates.Loading">
								<option [ngValue]="undefined">Please select</option>
								<option [ngValue]="database.name" *ngFor="let database of databases.list">{{ database.name }}</option>
							</select>
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" type="button" (click)="refreshDatabases(item.environment)" title="Refresh Databases/Applications">
									<i class="fas fa-sync-alt fa-fw" [ngClass]="{'fa-spin':databases.loadState == loadStates.Loading}"></i>
								</button>
								<button class="btn btn-outline-secondary" type="button" (click)="refreshDatabases(item.environment, true)" title="Refresh Databases/Applications from Source Environment">
									<i class="fas fa-cloud-download-alt fa-fw" [ngClass]="{'fa-spin':databases.loadState == loadStates.Loading}"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<ng-container *ngIf="(databaseChanged$ | async)">
					<div class="form-group row my-1"><label class="col col-form-label font-weight-bold text-warning">Please save the stream after database changes.</label></div>
				</ng-container>
				<div class="form-group row my-1" *ngIf="item.dbName && !(databaseChanged$ | async)">
					<label for="sTable" class="col-3 col-md-1 col-form-label font-weight-bold">
						<span *ngIf="item.type!=streamTypes.HPDB">Table:</span>
						<span *ngIf="item.type==streamTypes.HPDB">Cube:</span>
					</label>
					<div class="col-9 col-md-11" *ngIf="tables$ | async as tables">
						<div class="input-group input-group-sm">
							<input [typeahead]="tables.list" typeaheadOptionField="name" typeaheadGroupField="type" [typeaheadOptionsLimit]="5" name="sTable" class="form-control" [(ngModel)]="item.tableName" required [disabled]="tables.loadState == loadStates.Loading">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" type="button" (click)="refreshTables(item.environment, item.dbName)" title="Refresh Tables/Cubes">
									<i class="fas fa-sync-alt fa-fw" [ngClass]="{'fa-spin':tables.loadState == loadStates.Loading}"></i>
								</button>
								<button class="btn btn-outline-secondary" type="button" (click)="refreshTables(item.environment, item.dbName)" title="Refresh Tables/Cubes from Source Environment">
									<i class="fas fa-cloud-download-alt fa-fw" [ngClass]="{'fa-spin':tables.loadState == loadStates.Loading}"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row my-1" *ngIf="item.tableName == 'Custom Query' && item.dbName && !(databaseChanged$ | async)">
					<label for="sType" class="col-3 col-md-1 col-form-label font-weight-bold">Custom Query:</label>
					<div class="col-9 col-md-11">
						<div class="input-group input-group-sm">
							<input type="text" name="sCQuery" class="form-control form-control-sm" value="{{item.customQuery}}" disabled>
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" type="button" (click)="codeCustomQuery(item, f)" title="Edit Custom Query">
									<i class="fas fa-edit fa-fw"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</ng-container>

			<div class="form-group row my-1">
				<label class="col-3 col-md-1 col-form-label font-weight-bold">Tags:</label>
				<div class="col-9 col-md-11">
					<app-tag-selector [tags]="item.tags"></app-tag-selector>
				</div>
			</div>
		</div>
	</form>
</ng-container>
<ng-template #loading>
	<div class="alert alert-info mx-3" role="alert">
		<i class="fas fa-circle-notch fa-spin"></i> Please wait loading...
	</div>
</ng-template>
