<ng-container *ngIf="item$ | async as item; else loading">
	<form (ngSubmit)="save(feature, item, f)" #f="ngForm">
		<div class="container-fluid">
			<div class="row my-1">
				<div class="col">
					<div class="btn-toolbar my-1">
						<div class="btn-group btn-group-xs ml-auto">
							<button type="submit" class="btn btn-outline-success" title="Save"><i class="fas fa-save fa-fw"></i></button>
							<button type="button" class="btn btn-outline-dark" (click)="refreshAliasTables(item)" title="Refresh Alias Table List"><i class="fas fa-sync-alt fa-fw"></i></button>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group row my-1">
				<label for="descDB" class="col-3 col-md-1 col-form-label font-weight-bold">Application:</label>
				<div class="col-9 col-md-11">
					<input type="text" name="descDB" class="form-control form-control-sm" [ngModel]="item.dbName" disabled>
				</div>
			</div>
			<div class="form-group row my-1">
				<label for="descTable" class="col-3 col-md-1 col-form-label font-weight-bold">Cube:</label>
				<div class="col-9 col-md-11">
					<input type="text" name="descTable" class="form-control form-control-sm" [ngModel]="item.tableName" disabled>
				</div>
			</div>
			<ng-container *ngFor="let field of item.fieldList">
				<div class="form-group row my-1" *ngIf="field.name == (fieldName$ | async)">
					<label for="aliasTable" class="col-3 col-md-1 col-form-label font-weight-bold">Alias Table:</label>
					<div class="col-9 col-md-11">
						<div class="input-group input-group-sm">
							<select name="aliasTable{{field.name}}" class="form-control form-control-sm" [(ngModel)]="field.description.table" required>
								<option [value]="undefined">Please select an alias table</option>
								<!-- <ng-container *ngFor="let aliasTable of field.description.tableList">
									<option value="aliasTable.name">{{aliasTable.name}}</option>
								</ng-container> -->
								<option *ngFor="let aliasTable of (environment$ | async)?.smartview.aliastables" [value]="aliasTable.name">{{aliasTable.name}}</option>
							</select>
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" type="button" (click)="refreshAliasTables(item)">
									<i class="fas fa-sync-alt fa-fw"></i>
								</button>
								<button type="button" class="btn btn-outline-dark" (click)="setToAllFields(item, field.description.table, f)" title="Assign Same Alias Table to All Dimensions"><i class="fab fa-schlix fa-fw"></i></button>
							</div>
						</div>
					</div>
				</div>
			</ng-container>
		</div>
	</form>
	<!-- <pre>{{item | json}}</pre> -->
</ng-container>
<ng-template #loading>
	<div class="alert alert-info mx-3" role="alert">
		<i class="fas fa-circle-notch fa-spin"></i> Please wait loading...
	</div>
</ng-template>
