<ng-container *ngIf="item$ | async as item; else loading">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<form (ngSubmit)="us.update(feature, item, f)" #f="ngForm">
					<div class="form-group row mx-0 my-3">
						<label class="col-6 col-form-label font-weight-bold">
							Credential Details: {{ item.name }}
						</label>
						<div class="col-6 text-right">
							<div class="btn-group btn-group-sm">
								<button type="submit" class="btn btn-outline-success">
									<i class="fas fa-save fa-fw"></i> Save
								</button>
								<button type="button" class="btn btn-outline-dark" (click)="us.clone(feature, item)">
									<i class="far fa-clone fa-fw"></i> Clone
								</button>
								<button type="button" class="btn btn-outline-danger" (click)="us.delete(feature, item)">
									<i class="far fa-trash-alt fa-fw"></i> Delete
								</button>
							</div>
						</div>
					</div>
					<div class="form-group row m-0">
						<label for="cName" class="col-3 col-md-1 col-form-label font-weight-bold">Name:</label>
						<div class="col-9 col-md-11">
							<input type="text" name="cName" class="form-control form-control-sm" [(ngModel)]="item.name">
						</div>
					</div>
					<div class="form-group row m-0">
						<label for="cUser" class="col-3 col-md-1 col-form-label font-weight-bold">Username:</label>
						<div class="col-9 col-md-11">
							<input type="text" name="cUser" class="form-control form-control-sm" [(ngModel)]="item.username">
						</div>
					</div>
					<div class="form-group row m-0">
						<label for="cPass" class="col-3 col-md-1 col-form-label font-weight-bold">Password:</label>
						<div class="col-9 col-md-11">
							<div class="input-group input-group-sm">
								<input type="password" name="cPass" class="form-control" [(ngModel)]="item.password">
								<div class="input-group-append">
									<span class="input-group-text" *ngIf="isRevealed && item.clearPassword">{{ item.clearPassword }}</span>
									<span class="input-group-text" *ngIf="isRevealed && !item.clearPassword">
										<i class="fas fa-circle-notch fa-spin"></i>
									</span>
									<button class="btn btn-outline-warning" type="button" (click)="reveal(item)" [disabled]="!item.id">
										<ng-container *ngIf="!isRevealed">Reveal</ng-container>
										<ng-container *ngIf="isRevealed">Conceal</ng-container>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group row m-0">
						<label class="col-3 col-md-1 col-form-label font-weight-bold">Tags:</label>
						<div class="col-9 col-md-11">
							<app-tag-selector [tags]="item.tags"></app-tag-selector>
						</div>
					</div>
				</form>
			</div>
			<!-- <div class="col-3">
				<pre>{{ item | json }}</pre>
			</div> -->
		</div>
	</div>
</ng-container>
<ng-template #loading>
	<div class="alert alert-info mx-3" role="alert">
		<i class="fas fa-circle-notch fa-spin"></i> Please wait loading...
	</div>
</ng-template>
