@import './style.variables.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Ubuntu:100,200,300,400,500,600,700,800,900');

* {
	padding: 0;
	margin: 0;
}
html,
body {
	min-height: 100%;
	height: 100%;
   background-color: white;
}

body {
   font-size: 14px;
   font-family: 'Ubuntu', sans-serif;
}

.pointer { cursor: pointer; }

.ng-invalid:not(form) {
	border-left: 2px solid theme-color("danger") !important;
}

.ng-dirty {
	border-color: theme-color("warning") !important;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}
