$evaccentdark: #AEC9CE;
$evaccent: #CADDE1;
// $evdark: #3A474C;
$evdark: #4B5861;
$evactivedark: #242A2F;
$evwarning: #C05C11;
$evblue: #23779C;
$evdarkblue: #004050;
$evwhite: #F3F3F1;
$evpink: #E1AAA7;
$evrose: #693741;
$evyellow: #FFECA0;
$dusty: #AEC09F;
$evgreen: #2A9FA9;
$beachstorm: #E0E4CC;
$shadowsontheclif: #524656;
$onyx: #353A47;
$maximumred: #DE1A1A;
$lightsteelblue: #ACBED8;
