<ng-container *ngIf="item$ | async as item; else loading">
	<form (ngSubmit)="save(feature, item, f)" #f="ngForm">
		<div class="container-fluid">
			<div class="row my-1">
				<div class="col px-0">
					<div class="btn-toolbar my-1">
						<div class="btn-group btn-group-xs ml-auto">
							<button type="submit" class="btn btn-outline-success" title="Save"><i class="fas fa-save fa-fw"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ng-container *ngFor="let field of item.fieldList">
			<ng-container *ngIf="field.name == (fieldName$ | async)">
				<div class="form-group row my-1" *ngIf="databases$ | async as databases">
					<label for="descDB{{field.name}}" class="col-3 col-md-1 col-form-label font-weight-bold">Database:</label>
					<div class="col-9 col-md-11">
						<div class="input-group input-group-sm">
							<select name="descDB{{field.name}}" class="form-control" [(ngModel)]="field.description.database" [disabled]="databases.loadState == loadStates.Loading">
								<option [value]="undefined">Please select a database</option>
								<option *ngFor="let db of databases.list" [value]="db.name">{{db.name}}</option>
							</select>
							<div class="input-group-append">
								<button type="button" class="btn btn-outline-secondary" title="Refresh Database List" (click)="refreshDatabases()">
									<i class="fas fa-sync-alt fa-fw" [ngClass]="{'fa-spin':databases.loadState == loadStates.Loading}"></i>
								</button>
								<button class="btn btn-outline-secondary" type="button" (click)="refreshDatabases(item.environment, true)" title="Refresh Databases/Applications from Source Environment">
									<i class="fas fa-cloud-download-alt fa-fw" [ngClass]="{'fa-spin':databases.loadState == loadStates.Loading}"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row my-1" *ngIf="tables$ | async as tables">
					<label for="descTable{{field.name}}" class="col-3 col-md-1 col-form-label font-weight-bold">Table:</label>
					<div class="col-9 col-md-11" *ngIf="tables$ | async as tables">
						<div class="input-group input-group-sm">
							<input [typeahead]="tables.list" typeaheadOptionField="name" typeaheadGroupField="type" [typeaheadOptionsLimit]="5" name="sTable" class="form-control" [(ngModel)]="field.description.table" required [disabled]="tables.loadState == loadStates.Loading">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" type="button" (click)="refreshTables(item.environment, item.dbName)" title="Refresh Tables/Cubes">
									<i class="fas fa-sync-alt fa-fw" [ngClass]="{'fa-spin':tables.loadState == loadStates.Loading}"></i>
								</button>
								<button class="btn btn-outline-secondary" type="button" (click)="refreshTables(item.environment, item.dbName)" title="Refresh Tables/Cubes from Source Environment">
									<i class="fas fa-cloud-download-alt fa-fw" [ngClass]="{'fa-spin':tables.loadState == loadStates.Loading}"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row my-1" *ngIf="field.description.table == 'Custom Query' && field.description.database && !(databaseChanged$ | async)">
					<label for="sType" class="col-3 col-md-1 col-form-label font-weight-bold">Custom Query:</label>
					<div class="col-9 col-md-11">
						<div class="input-group input-group-sm">
							<input type="text" name="sCQuery" class="form-control form-control-sm" value="{{field.description.query}}" disabled>
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" type="button" (click)="codeCustomQuery(item, field, f)" title="Edit Custom Query">
									<i class="fas fa-edit fa-fw"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row my-1">
					<label for="fdRefresh" class="col-3 col-md-1 col-form-label font-weight-bold">Field List:</label>
					<div class="col-9 col-md-11">
						<div class="btn-group btn-group-sm">
							<button type="button" class="btn btn-outline-dark btn-xs" title="Refresh Field List" (click)="refreshFields(item, field.name)">
								<i class="fas fa-sync-alt fa-fw"></i>
							</button>
							<button class="btn btn-outline-secondary" type="button" (click)="refreshFields(item, field.name, true)" title="Refresh Field List from Source Environment">
								<i class="fas fa-cloud-download-alt fa-fw"></i>
							</button>
						</div>
					</div>
				</div>
				<ng-container *ngIf="descriptiveFields$ | async as descriptiveFields">
					<div class="form-group row my-1">
						<label class="col-3 col-md-1 col-form-label font-weight-bold text-nowrap">Reference Field:</label>
						<div class="col-9 col-md-11">
							<div class="input-group input-group-sm">
								<select name="fRefName" class="form-control" [(ngModel)]="field.description.referenceField.name" (change)="setFieldType('ref', field, descriptiveFields)">
									<option [value]="undefined">Please Select Reference Field</option>
									<option *ngFor="let f of descriptiveFields" value="{{f.name}}">{{f.name}}</option>
								</select>
								<ng-container *ngIf="field.description.referenceField.type == 'number'">
									<div class="input-group-prepend">
										<span class="input-group-text"><b># of Digits:</b></span>
									</div>
									<input type="number" name="rPrecision" class="form-control" placeholder="Whole Number Digits" [(ngModel)]="field.description.referenceField.precision" min="1" max="65">
									<div class="input-group-prepend">
										<span class="input-group-text">(Min:1, Max:65)</span>
									</div>
									<input type="number" name="rDecimals" class="form-control" placeholder="Decimal Number of Digits" [(ngModel)]="field.description.referenceField.decimals" min="0" max="{{field.description.referenceField.precision - 1 || 0}}">
									<div class="input-group-append">
										<span class="input-group-text">(Min:1, Max:{{field.fPrecision - 1 || 0}})</span>
									</div>
								</ng-container>
								<ng-container *ngIf="field.description.referenceField.type == 'string'">
									<div class="input-group-prepend">
										<span class="input-group-text"><b># of Characters:</b></span>
									</div>
									<input type="number" name="rCharacters" class="form-control" placeholder="Number of characters" [(ngModel)]="field.description.referenceField.characters" min="1" max="1024">
									<div class="input-group-append">
										<span class="input-group-text">(Min:1, Max:1024)</span>
									</div>
								</ng-container>
								<ng-container *ngIf="field.description.referenceField.type == 'date'">
									<div class="input-group-prepend">
										<span class="input-group-text"><b>Format:</b></span>
									</div>
									<input type="text" name="rDateFormat" class="form-control" placeholder="YYYY-MM-DD HH:mm" [(ngModel)]="field.description.referenceField.dateformat">
								</ng-container>
							</div>
						</div>
					</div>
					<div class="form-group row my-1">
						<label class="col-3 col-md-1 col-form-label font-weight-bold text-nowrap">Description Field:</label>
						<div class="col-9 col-md-11">
							<div class="input-group input-group-sm">
								<select name="fDescName" class="form-control" [(ngModel)]="field.description.descriptionField.name" (change)="setFieldType('des', field, descriptiveFields)">
									<option value="">Please Select Reference Field</option>
									<option *ngFor="let f of descriptiveFields" value="{{f.name}}">{{f.name}}</option>
								</select>
								<ng-container *ngIf="field.description.descriptionField.type == 'number'">
									<div class="input-group-prepend">
										<span class="input-group-text"><b># of Digits:</b></span>
									</div>
									<input type="number" name="dPrecision" class="form-control" placeholder="Whole Number Digits" [(ngModel)]="field.description.descriptionField.precision" min="1" max="65">
									<div class="input-group-prepend">
										<span class="input-group-text">(Min:1, Max:65)</span>
									</div>
									<input type="number" name="dDecimals" class="form-control" placeholder="Decimal Number of Digits" [(ngModel)]="field.description.descriptionField.decimals" min="0" max="{{field.description.descriptionField.precision - 1 || 0}}">
									<div class="input-group-append">
										<span class="input-group-text">(Min:1, Max:{{field.fPrecision - 1 || 0}})</span>
									</div>
								</ng-container>
								<ng-container *ngIf="field.description.descriptionField.type == 'string'">
									<div class="input-group-prepend">
										<span class="input-group-text"><b># of Characters:</b></span>
									</div>
									<input type="number" name="dCharacters" class="form-control" placeholder="Number of characters" [(ngModel)]="field.description.descriptionField.characters" min="1" max="1024">
									<div class="input-group-append">
										<span class="input-group-text">(Min:1, Max:1024)</span>
									</div>
								</ng-container>
								<ng-container *ngIf="field.description.descriptionField.type == 'date'">
									<div class="input-group-prepend">
										<span class="input-group-text"><b>Format:</b></span>
									</div>
									<input type="text" name="dDateFormat" class="form-control" placeholder="YYYY-MM-DD HH:mm" [(ngModel)]="field.description.descriptionField.dateformat">
								</ng-container>
							</div>
						</div>
					</div>

				</ng-container>








			</ng-container>
		</ng-container>
		<!-- <pre class="col">{{descriptiveFields$ | async | json}}</pre>
		<pre class="col">{{item | json}}</pre> -->
	</form>
</ng-container>
<ng-template #loading>
	<div class="alert alert-info mx-3" role="alert">
		<i class="fas fa-circle-notch fa-spin"></i> Please wait loading...
	</div>
</ng-template>
