<div class="container-fluid">
	<div class="row">
		<div class="col">
			<pre>Auth:
{{(state$ | async).auth | json}}</pre>
		</div>
		<div class="col">
			<pre>Notification:
{{(state$ | async).notification | json}}</pre>
		</div>
		<div class="col">
			<pre>Environments:
		{{(state$ | async).environments | json}}</pre>
		</div>
		<div class="col">
			<pre>Router:
{{(state$ | async).router | json}}</pre>
		</div>
		<div class="col">
			<pre>Shared:
{{(state$ | async).shared | json}}</pre>
		</div>
		<div class="col">
			<pre>Tags:
{{(state$ | async).tags | json}}</pre>
		</div>
	</div>
	<div class="col">
		<pre>Tag Groups:
{{(state$ | async).taggroups | json}}</pre>
	</div>
</div>
<!-- <div class="container-fluid">
	<div class="row pb-3 pt-5">
		<div class="col-3">
			<div class="card text-center border-onyx pointer" routerLink="environments">
				<div class="card-header bg-white text-onyx">
					<h5 class="card-title pb-0 mb-0">
						<i class="fas fa-building fa-fw"></i>
						<br>Environments
					</h5>
				</div>
				<div class="card-body">
					<p class="card-text">{{verifiedEnvironmentCount}} of {{environmentCount}} are verified.</p>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card text-center border-onyx pointer" routerLink="streams">
				<div class="card-header bg-white text-onyx">
					<h5 class="card-title pb-0 mb-0">
						<i class="fas fa-arrows-alt fa-fw"></i>
						<br>Streams
					</h5>
				</div>
				<div class="card-body">
					<p class="card-text">{{streamCount}} streams exist.</p>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card text-center border-onyx pointer" routerLink="maps">
				<div class="card-header bg-white text-onyx">
					<h5 class="card-title pb-0 mb-0">
						<i class="fas fa-globe fa-fw"></i>
						<br>Maps
					</h5>
				</div>
				<div class="card-body">
					<p class="card-text">{{mapCount}} maps exist.</p>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card text-center border-onyx pointer" routerLink="matrices">
				<div class="card-header bg-white text-onyx">
					<h5 class="card-title pb-0 mb-0">
						<i class="fas fa-th fa-fw"></i>
						<br>Matrices
					</h5>
				</div>
				<div class="card-body">
					<p class="card-text">{{matrixCount}} matrices exist.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row py-3">
		<div class="col-3">
			<div class="card text-center border-onyx pointer" routerLink="schedules">
				<div class="card-header bg-white text-onyx">
					<h5 class="card-title pb-0 mb-0">
						<i class="fas fa-calendar fa-fw"></i>
						<br>Schedules
					</h5>
				</div>
				<div class="card-body">
					<p class="card-text">{{scheduleCount}} schedules exist.</p>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card text-center border-onyx pointer" routerLink="processes">
				<div class="card-header bg-white text-onyx">
					<h5 class="card-title pb-0 mb-0">
						<i class="fas fa-cogs fa-fw"></i>
						<br>Processes
					</h5>
				</div>
				<div class="card-body">
					<p class="card-text">{{runningProcessCount}} of {{processCount}} processes are running.</p>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card text-center border-onyx pointer" routerLink="asyncprocesses">
				<div class="card-header bg-white text-onyx">
					<h5 class="card-title pb-0 mb-0">
						<i class="fas fa-link fa-fw"></i>
						<br>AsyncBR
					</h5>
				</div>
				<div class="card-body">
					<p class="card-text">Coming soon...</p>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card text-center border-onyx pointer" routerLink="settings">
				<div class="card-header bg-white text-onyx">
					<h5 class="card-title pb-0 mb-0">
						<i class="fas fa-cog fa-fw"></i>
						<br>Settings
					</h5>
				</div>
				<div class="card-body">
					<p class="card-text">Go</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row py-3">
		<div class="col-3">
			<div class="card text-center border-onyx pointer" routerLink="secrets">
				<div class="card-header bg-white text-onyx">
					<h5 class="card-title pb-0 mb-0">
						<i class="fas fa-lock fa-fw"></i>
						<br>Secrets
					</h5>
				</div>
				<div class="card-body">
					<p class="card-text">{{secretCount}} secrets exist.</p>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card text-center border-onyx pointer" routerLink="credentials">
				<div class="card-header bg-white text-onyx">
					<h5 class="card-title pb-0 mb-0">
						<i class="fas fa-key fa-fw"></i>
						<br>Credentials
					</h5>
				</div>
				<div class="card-body">
					<p class="card-text">{{credentialCount}} credentials exist.</p>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card text-center border-onyx pointer" routerLink="tags">
				<div class="card-header bg-white text-onyx">
					<h5 class="card-title pb-0 mb-0">
						<i class="fas fa-tags fa-fw"></i>
						<br>Tags
					</h5>
				</div>
				<div class="card-body">
					<p class="card-text">Go</p>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card text-center border-onyx pointer" routerLink="users">
				<div class="card-header bg-white text-onyx">
					<h5 class="card-title pb-0 mb-0">
						<i class="fas fa-user fa-fw"></i>
						<br>Users
					</h5>
				</div>
				<div class="card-body">
					<p class="card-text">{{userCount}} users exist.</p>
				</div>
			</div>
		</div>
	</div>
</div> -->
