@import '~src/style.colors.scss';

.top-nav-bar {
	font-size: 11px;
	border-bottom: 6px solid $evaccentdark;
}

.top-nav-item {
	border-right: 1px solid $evaccent;
}

.top-system-bar {
	margin-top: 38px;
	box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.5);
}

.shaded-text {
	text-shadow: 1px 1px 2px $evactivedark;
}

.active-navbar-item {
	background-color: $evactivedark;
	color: $evwarning !important;
}
