<nav class="navbar navbar-dark fixed-top bg-dark justify-content-start p-0 top-nav-bar" style="z-index:1040;">
	<a routerLink="/admin" routerLinkActive="active-navbar-item" class="navbar-text py-2 px-3 text-evwhite font-weight-bold top-nav-item">Start Here</a>
	<a routerLink="environments" routerLinkActive="active-navbar-item" class="navbar-text py-2 px-3 text-evwhite font-weight-bold top-nav-item">Environments</a>
	<a routerLink="streams" routerLinkActive="active-navbar-item" class="navbar-text py-2 px-3 text-evwhite font-weight-bold top-nav-item">Streams</a>
	<a routerLink="maps" routerLinkActive="active-navbar-item" class="navbar-text py-2 px-3 text-evwhite font-weight-bold top-nav-item">Maps</a>
	<a routerLink="matrices" routerLinkActive="active-navbar-item" class="navbar-text py-2 px-3 text-evwhite font-weight-bold top-nav-item">Matrices</a>
	<a routerLink="schedules" routerLinkActive="active-navbar-item" class="navbar-text py-2 px-3 text-evwhite font-weight-bold top-nav-item">Schedules</a>
	<a routerLink="processes" routerLinkActive="active-navbar-item" class="navbar-text py-2 px-3 text-evwhite font-weight-bold top-nav-item">Processes</a>
	<a routerLink="asyncbr" routerLinkActive="active-navbar-item" class="navbar-text py-2 px-3 text-evwhite font-weight-bold top-nav-item">AsyncBR</a>
	<a routerLink="settings" routerLinkActive="active-navbar-item" class="navbar-text py-2 px-3 text-evwhite font-weight-bold top-nav-item">Settings</a>
	<a routerLink="secrets" routerLinkActive="active-navbar-item" class="navbar-text py-2 px-3 text-evwhite font-weight-bold top-nav-item">Secrets</a>
	<a routerLink="credentials" routerLinkActive="active-navbar-item" class="navbar-text py-2 px-3 text-evwhite font-weight-bold top-nav-item">Credentials</a>
	<a routerLink="users" routerLinkActive="active-navbar-item" class="navbar-text py-2 px-3 text-evwhite font-weight-bold top-nav-item">Users</a>
	<a routerLink="tags" routerLinkActive="active-navbar-item" class="navbar-text py-2 px-3 text-evwhite font-weight-bold top-nav-item">Tags</a>
	<!-- <form class="form-inline ml-auto">
		<input type="text" name="NavbarSearch" class="form-control form-control-sm h-50 text-evwhite border-top-0 border-right-0 border-left-0 rounded-0 border-accent" style="background-color: transparent;" placeholder="Search">
	</form> -->
	<div class="btn-group btn-group-sm p-0 ml-auto mr-5" dropdown title="Notifications" [(isOpen)]="shouldShowNotifications" [autoClose]="false">
		<button id="button-basic" dropdownToggle type="button" class="btn btn-link navbar-text text-evwhite p-0" aria-controls="dropdown-basic">
			<i class="fas fa-bell fa-fw"></i>
		</button>
		<ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
			<ng-container *ngIf="notifications$ | async as notifications">
				<ng-container *ngFor="let notification of notifications; let last = last;">
					<li role="menuitem" class="notification-item px-2">
						<div class="px-1 w-100 align-middle pb-1 d-flex">
							<span class="d-inline-block mr-2 align-middle">
								<i class="fas fa-info-circle fa-fw text-primary" *ngIf="notification.type === notificationType.Info"></i>
								<i class="fas fa-circle-notch fa-spin fa-fw text-success" *ngIf="notification.type === notificationType.Progress"></i>
								<i class="fas fa-circle-notch fa-spin fa-fw text-success" *ngIf="notification.type === notificationType.BlockingProgress"></i>
								<i class="fas fa-exclamation-circle fa-fw text-warning" *ngIf="notification.type === notificationType.Warning"></i>
								<i class="fas fa-skull-crossbones fa-fw text-danger" *ngIf="notification.type === notificationType.Error"></i>
								<i class="fas fa-skull-crossbones fa-fw text-danger" *ngIf="notification.type === notificationType.FatalError"></i>
								<i class="fas fa-check-circle fa-fw text-success" *ngIf="notification.type === notificationType.Success"></i>
							</span>
							<span class="d-inline-block">
								{{notification.title}}
							</span>
							<span class="d-inline-block ml-auto">
								<i class="fas fa-search fa-fw pointer mx-1" title="Show Details" (click)="notificationShowDetail(notification.uuid)"></i>
								<i class="fas fa-broom fa-flip-horizontal fa-fw pointer mx-1" title="Dismiss" (click)="notificationDismiss(notification.uuid)"></i>
							</span>

						</div>
						<span class="d-inline-block px-1 w-100 align-middle">
							<pre class="m-0">{{notification.message}}</pre>
							<progressbar *ngIf="notification.countDown > 0" max="10" [value]="notification.countDown" type="accent" [animate]="true" style="height:2px"></progressbar>
						</span>
					</li>
					<li class="divider dropdown-divider" *ngIf="!last"></li>
				</ng-container>
				<ng-container *ngIf="notifications.length == 0">
					<li role="menuitem" class="w-100 notification-item px-2">There are no notifications at this moment.</li>
				</ng-container>
			</ng-container>

			<li class="divider dropdown-divider"></li>
			<div class="w-100 text-right notification-preferences px-1 py-0">
				<div class="form-check align-middle" (click)="notificationAutoShowOnChange()">
					<input type="checkbox" name="nsp" class="form-check-input" [ngModel]="notificationAutoShow">
					<label for="nsp" class="form-check-label col-3 text-left p-0">Auto Show</label>
				</div>
				<div class="form-check align-middle" (click)="notificationAutoShowOnlyErrorOnChange()">
					<input type="checkbox" name="nsp" class="form-check-input" [ngModel]="notificationAutoShowOnlyError">
					<label for="nsp" class="form-check-label col-3 text-left p-0">Only On Error</label>
				</div>
			</div>
		</ul>
	</div>
	<div class="btn-group btn-group-sm p-0 mr-3">
		<button class="btn btn-link navbar-text text-evwhite p-0" type="button" title="Sign Out"><i class="fas fa-sign-out-alt"></i></button>
	</div>
</nav>
<nav class="navbar navbar-light fixed-top bg-accent justify-content-start top-system-bar text-evwhite py-3">
	<ng-container *ngIf="url$ | async as url">
		<ng-container [ngSwitch]="url2Feature(url)">
			<span class="navbar-text text-evwhite" *ngSwitchCase="'/admin'"> <span class="h3 shaded-text text-evwhite"><i class="fas fa-home fa-fw mr-3"></i>Home</span></span>
			<span class="navbar-text text-evwhite" *ngSwitchCase="'/admin/tags'"> <span class="h3 shaded-text text-evwhite"><i class="fas fa-tags fa-fw mr-3"></i>Tags</span></span>
			<span class="navbar-text" *ngSwitchDefault>Not Start Here</span>
			<!-- <i class="fas fa-tags"></i> -->
		</ng-container>
	</ng-container>
</nav>
