<div class="toppart d-flex align-items-center">
	<span class="mx-auto text-center">
		<img src="/assets/images/AsliToolboxLoaderOptimized.png" alt="Logo"><br>
		<span class="toolname">EPM Toolbox</span>
	</span>
</div>
<div class="bottompart text-white">
	<br>
	<div class="row">
		<div class="col-3 offset-2">
			<span class="slogan">EPM <br>Innovated</span>
			<span class="detail">
				DIME: Data Integration Made Easy <br>
				AsyncBR: Asynchronous Business Rules
			</span>
		</div>
		<div class="col-3 offset-2 text-center">
			<button mat-raised-button>Start Here</button>
		</div>
	</div>
</div>
