<ng-container *ngIf="stream$ | async as stream; else loading">
	<ng-container *ngIf="sxport$ | async as sxport; else loading">
		<ng-container *ngIf="artifacts$ | async as artifacts; else loading">
			<div class="row my-3">
				<div class="col-2 col-lg-1 font-weight-bold">Export Details:</div>
				<div class="col">
					<div class="input-group input-group-sm">
						<div class="input-group-prepend">
							<span class="input-group-text">Name:</span>
						</div>
						<input type="text" name="ExportName" class="form-control" [(ngModel)]="sxport.name">
						<div class="input-group-append">
							<span class="input-group-text">Cell Count: {{countAll(sxport) | number:'1.0-0'}}</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="btn-toolbar py-1">
						<div class="btn-group btn-group-xs ml-auto">
							<button type="submit" class="btn btn-outline-success" title="Save" (click)="update(stream, sxport)"><i class="fas fa-save fa-fw"></i></button>
							<button type="button" class="btn btn-outline-dark" (click)="clone(stream, sxport)" title="Clone"><i class="far fa-clone fa-fw"></i></button>
						</div>
						<div class="btn-group btn-group-xs ml-3">
							<button type="button" class="btn btn-outline-danger" (click)="delete(stream, sxport)" title="Delete"><i class="far fa-trash-alt fa-fw"></i></button>
						</div>
					</div>
				</div>
			</div>
			<div class="row my-3">
				<div class="col-2 col-lg-1 font-weight-bold">Run Export:</div>
				<div class="col">
					<div class="input-group input-group-sm">
						<div class="input-group-prepend">
							<span class="input-group-text">
								Selections:
							</span>
						</div>
						<select name="Selector{{stream.id}}_{{dim.name}}" class="form-control" *ngFor="let dim of sxport.pagDims" [(ngModel)]="pageSelections[dim.name]">
							<option value="{{cs.RefField}}" *ngFor="let cs of findMembers( sxport.pags[dim.name], artifacts[stream.id + '_' + dim.name ] )">{{cs.RefField}}</option>
						</select>
						<div class="input-group-append">
							<button type="button" class="btn btn-outline-dark" (click)="execute(stream, sxport)" title="Execute Export" [disabled]="sxport.status == XState.Executing"><i class="fas fa-play fa-fw"></i></button>
						</div>
					</div>
				</div>
			</div>
			<div class="row my-3">
				<div class="col">
					<div class="table-responsive">
						<table class="table table-sm table-bordered m-0">
							<thead class="border-bottom-0">
								<tr class="border-bottom-0">
									<th class="text-center border-0" width="10">&nbsp;</th>
									<th class="text-center border-bottom-0">Pages</th>
									<th class="text-center border-bottom-0">POVs</th>
									<th class="text-center border-bottom-0">Rows</th>
									<th class="text-center border-bottom-0">Columns</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th class="text-nowrap">Dimension Layout:</th>
									<td cdkDropList #pagDims="cdkDropList" [cdkDropListData]="sxport.pagDims" [cdkDropListConnectedTo]="[povDims, rowDims, colDims]" (cdkDropListDropped)="dimensionDrop($event)">
										<div class="btn-toolbar m-1" *ngFor="let dim of sxport.pagDims" cdkDrag>
											<div class="btn-group btn-group-xs">
												<button class="btn btn-outline-dark movable"><i class="fas fa-arrows-alt fa-fw"></i></button>
												<button class="btn btn-outline-dark movable dim text-left">{{dim.name}}</button>
											</div>
											<div class="btn-group btn-group-xs ml-auto">
												<button class="btn btn-outline-dark" [disabled]="artifacts[stream.id + '_' + dim.name]?.loadState == LoadStates.Loading" title="Refresh Member List" (click)="refreshMembers(stream, dim)">
													<i class="fas fa-pause fa-fw" *ngIf="!artifacts[stream.id + '_' + dim.name]"></i>
													<i class="fas fa-pause fa-fw" *ngIf="artifacts[stream.id + '_' + dim.name]?.loadState == LoadStates.NotLoaded"></i>
													<i class="fas fa-sync-alt fa-spin fa-fw" *ngIf="artifacts[stream.id + '_' + dim.name]?.loadState == LoadStates.Loading"></i>
													<i class="fas fa-sync-alt fa-fw" *ngIf="artifacts[stream.id + '_' + dim.name]?.loadState == LoadStates.Loaded"></i>
												</button>
											</div>
										</div>
									</td>
									<td cdkDropList #povDims="cdkDropList" [cdkDropListData]="sxport.povDims" [cdkDropListConnectedTo]="[pagDims, rowDims, colDims]" (cdkDropListDropped)="dimensionDrop($event)">
										<div class="btn-toolbar m-1" *ngFor="let dim of sxport.povDims" cdkDrag>
											<div class="btn-group btn-group-xs">
												<button class="btn btn-outline-dark movable"><i class="fas fa-arrows-alt fa-fw"></i></button>
												<button class="btn btn-outline-dark movable dim text-left">{{dim.name}}</button>
											</div>
											<div class="btn-group btn-group-xs ml-auto">
												<button class="btn btn-outline-dark" [disabled]="artifacts[stream.id + '_' + dim.name]?.loadState == LoadStates.Loading" title="Refresh Member List" (click)="refreshMembers(stream, dim)">
													<i class="fas fa-pause fa-fw" *ngIf="!artifacts[stream.id + '_' + dim.name]"></i>
													<i class="fas fa-pause fa-fw" *ngIf="artifacts[stream.id + '_' + dim.name]?.loadState == LoadStates.NotLoaded"></i>
													<i class="fas fa-sync-alt fa-spin fa-fw" *ngIf="artifacts[stream.id + '_' + dim.name]?.loadState == LoadStates.Loading"></i>
													<i class="fas fa-sync-alt fa-fw" *ngIf="artifacts[stream.id + '_' + dim.name]?.loadState == LoadStates.Loaded"></i>
												</button>
											</div>
										</div>
									</td>
									<td cdkDropList #rowDims="cdkDropList" [cdkDropListData]="sxport.rowDims" [cdkDropListConnectedTo]="[pagDims, povDims, colDims]" (cdkDropListDropped)="dimensionDrop($event)">
										<div class="btn-toolbar m-1 text-nowrap" *ngFor="let dim of sxport.rowDims" cdkDrag>
											<div class="btn-group btn-group-xs">
												<button class="btn btn-outline-dark movable"><i class="fas fa-arrows-alt fa-fw"></i></button>
												<button class="btn btn-outline-dark movable dim text-left">{{dim.name}}</button>
											</div>
											<div class="btn-group btn-group-xs ml-auto">
												<button class="btn btn-outline-dark" [disabled]="artifacts[stream.id + '_' + dim.name]?.loadState == LoadStates.Loading" title="Refresh Member List" (click)="refreshMembers(stream, dim)">
													<i class="fas fa-pause fa-fw" *ngIf="!artifacts[stream.id + '_' + dim.name]"></i>
													<i class="fas fa-pause fa-fw" *ngIf="artifacts[stream.id + '_' + dim.name]?.loadState == LoadStates.NotLoaded"></i>
													<i class="fas fa-sync-alt fa-spin fa-fw" *ngIf="artifacts[stream.id + '_' + dim.name]?.loadState == LoadStates.Loading"></i>
													<i class="fas fa-sync-alt fa-fw" *ngIf="artifacts[stream.id + '_' + dim.name]?.loadState == LoadStates.Loaded"></i>
												</button>
											</div>
										</div>
									</td>
									<td cdkDropList #colDims="cdkDropList" [cdkDropListData]="sxport.colDims" [cdkDropListConnectedTo]="[pagDims, povDims, rowDims]" (cdkDropListDropped)="dimensionDrop($event)">
										<div class="btn-toolbar m-1 text-nowrap" *ngFor="let dim of sxport.colDims" cdkDrag>
											<div class="btn-group btn-group-xs">
												<button class="btn btn-outline-dark movable"><i class="fas fa-arrows-alt fa-fw"></i></button>
												<button class="btn btn-outline-dark movable dim text-left">{{dim.name}}</button>
											</div>
											<div class="btn-group btn-group-xs ml-auto">
												<button class="btn btn-outline-dark" [disabled]="artifacts[stream.id + '_' + dim.name]?.loadState == LoadStates.Loading" title="Refresh Member List" (click)="refreshMembers(stream, dim)">
													<i class="fas fa-pause fa-fw" *ngIf="!artifacts[stream.id + '_' + dim.name]"></i>
													<i class="fas fa-pause fa-fw" *ngIf="artifacts[stream.id + '_' + dim.name]?.loadState == LoadStates.NotLoaded"></i>
													<i class="fas fa-sync-alt fa-spin fa-fw" *ngIf="artifacts[stream.id + '_' + dim.name]?.loadState == LoadStates.Loading"></i>
													<i class="fas fa-sync-alt fa-fw" *ngIf="artifacts[stream.id + '_' + dim.name]?.loadState == LoadStates.Loaded"></i>
												</button>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th class="text-nowrap">Member Selections:</th>
									<td>
										<div class="btn-toolbar m-1" *ngFor="let dim of sxport.pagDims">
											<div class="btn-group btn-group-xs" title="Choose Member(s)" (click)="openMemberSelector(stream, dim.name, sxport.pags)">
												<button type="button" class="btn btn-outline-dark dim text-left">{{dim.name}}</button>
												<button type="button" class="btn btn-outline-dark member-selections text-truncate text-left">
													<span class="d-flex" *ngFor="let sel of sxport.pags[dim.name]">
														<span>{{representSelection(sel)}}</span>
														<span class="ml-auto">#{{countMembers(artifacts[stream.id + '_' + dim.name]?.list, sel, sxport)}}</span>
													</span>
												</button>
											</div>
										</div>
									</td>
									<td>
										<div class="btn-toolbar m-1" *ngFor="let dim of sxport.povDims">
											<div class="btn-group btn-group-xs" title="Choose Member(s)" (click)="openMemberSelector(stream, dim.name, sxport.povs, true)">
												<button type="button" class="btn btn-outline-dark dim text-left">{{dim.name}}</button>
												<button type="button" class="btn btn-outline-dark member-selections text-truncate text-left">
													<span class="d-flex" *ngFor="let sel of sxport.povs[dim.name]">
														<span>{{representSelection(sel)}}</span>
														<span class="ml-auto">#{{countMembers(artifacts[stream.id + '_' + dim.name]?.list, sel, sxport)}}</span>
													</span>
												</button>
											</div>
										</div>
									</td>
									<td>
										<div class="btn-toolbar mr-1">
											<div class="btn-group btn-group-xs ml-auto">
												<button class="btn btn-outline-dark" title="Add New Row" (click)="sectionTupleAdd(sxport.rows)">
													<i class="fas fa-plus fa-fw"></i>
												</button>
											</div>
										</div>
										<ng-container *ngFor="let rowsection of sxport.rows; let i = index;">
											Row {{i + 1}}
											<button class="btn btn-xs btn-outline-dark ml-5" title="Delete Row" (click)="sectionTupleRemove(sxport.rows, i)">
												<i class="fas fa-minus fa-fw"></i>
											</button>
											<hr class="m-0 my-1">
											<div class="btn-toolbar m-1" *ngFor="let dim of sxport.rowDims">
												<div class="btn-group btn-group-xs" title="Choose Member(s)" (click)="openMemberSelector(stream, dim.name, rowsection)">
													<button type="button" class="btn btn-outline-dark dim text-left">{{dim.name}}</button>
													<button type="button" class="btn btn-outline-dark member-selections text-truncate text-left">
														<span class="d-flex" *ngFor="let sel of rowsection[dim.name]">
															<span>{{representSelection(sel)}}</span>
															<span class="ml-auto">#{{countMembers(artifacts[stream.id + '_' + dim.name]?.list, sel, sxport)}}</span>
														</span>
													</button>
												</div>
											</div>
										</ng-container>
									</td>
									<td>
										<div class="btn-toolbar mr-1">
											<div class="btn-group btn-group-xs ml-auto">
												<button class="btn btn-outline-dark" title="Add New Column" (click)="sectionTupleAdd(sxport.cols)">
													<i class="fas fa-plus fa-fw"></i>
												</button>
											</div>
										</div>
										<ng-container *ngFor="let colsection of sxport.cols; let i = index;">
											Column {{i + 1}}
											<button class="btn btn-xs btn-outline-dark ml-5" title="Delete Column" (click)="sectionTupleRemove(sxport.cols, i)">
												<i class="fas fa-minus fa-fw"></i>
											</button>
											<hr class="m-0 my-1">
											<div class="btn-toolbar m-1" *ngFor="let dim of sxport.colDims">
												<div class="btn-group btn-group-xs" title="Choose Member(s)" (click)="openMemberSelector(stream, dim.name, colsection)">
													<button type="button" class="btn btn-outline-dark dim text-left">{{dim.name}}</button>
													<button type="button" class="btn btn-outline-dark member-selections text-truncate text-left">
														<span class="d-flex" *ngFor="let sel of colsection[dim.name]">
															<span>{{representSelection(sel)}}</span>
															<span class="ml-auto">#{{countMembers(artifacts[stream.id + '_' + dim.name]?.list, sel, sxport)}}</span>
														</span>
													</button>
												</div>
											</div>
										</ng-container>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row my-3">
				<div class="col">
					<pre>{{sxport.pagDims | json}}</pre>
				</div>
				<div class="col">
					<pre>{{sxport.pags | json}}</pre>
				</div>
				<div class="col">
					<pre>{{pageSelections | json}}</pre>
				</div>
			</div>
		</ng-container>
	</ng-container>
</ng-container>
<ng-template #loading>
	<div class="alert alert-info mx-3" role="alert">
		<i class="fas fa-circle-notch fa-spin"></i> Please wait loading...
	</div>
</ng-template>
