<ng-container *ngIf="state$ | async as state">
	<div class="alert alert-info" *ngIf="!state.doWeHaveDescribedFields">
		<h4><i class="icon fa fa-info mr-3"></i> No field is marked as described!</h4>
		<hr> If you would like to assign fields as described and assign description definitions, please go to the "Fields" tab and check the tick marks under the column "Described? <i class="fas fa-comment-alt fa-fw"></i>"
	</div>
	<div class="container-fluid" *ngIf="state.doWeHaveDescribedFields">
		<div class="row my-1">
			<div class="col">
				<ul class="nav nav-tabs w-100">
					<ng-container *ngFor="let field of state.item.fieldList">
						<li class="nav-item" *ngIf="field.isDescribed">
							<a routerLink="{{field.name}}" routerLinkActive="active" data-toggle="tab" class="nav-link">{{field.name}}</a>
						</li>
					</ng-container>
				</ul>
				<div class="tab-content w-100 border border-top-0 p-3">
					<div class="tab-pane active">
						<router-outlet></router-outlet>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-container>
<ng-template #loading>
	<div class="alert alert-info mx-3" role="alert">
		<i class="fas fa-circle-notch fa-spin"></i> Please wait loading...
	</div>
</ng-template>
